.intro {
	margin-top: 3rem;
}

.project-details p {
	margin-bottom: 0.4rem;
}

.h1 {
	font-size: 2rem;
}

.h2 {
	font-size: 2.2rem;
}

.h3 {
	font-size: 1.8rem;
}

.p {
	font-size: 1.2rem;
}

.p1 {
	font-size: 1.4rem;
}

.p2 {
	font-size: 1.2rem;
}

.heading-p {
	font-size: 1.4rem;
	color: grey;
}

.content-p-lg {
	font-size: 1.1rem;
}

.content-p-sm {
	color: grey;
}

.content-1-holder,
.quote-holder {
	margin-top: 2rem;
}

.content-2-holder,
.content-4-holder {
	background-color: #f3f3f3;
}

.content-1-holder,
.content-2-holder,
.quote-holder {
	display: flex;
	justify-content: center;
}

.quote-sign {
	color: rgb(253, 182, 49);
	font-size: 2rem;
}

.quote-provider-details {
	display: flex;
}

.quote-holder img {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.quote-provider-details p {
	margin: 0;
	margin-left: 0.5rem;
}

.Cta-holder {
	padding: 0;
	margin-top: 4rem;
	text-align: center;
}

.background {
	height: 30vh;
}

@media only screen and (max-device-width: 576px) {
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
}
@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1300px) {
}

@media only screen and (min-device-width: 1300px) {
	.h1 {
		font-size: 3rem;
	}

	.p {
		font-size: 1.8rem;
	}
}
