.intro {
	margin-top: 3rem;
}

.project-details p {
	margin-bottom: 0.4rem;
}

.h1 {
	font-size: 2rem;
}

.h2 {
	font-size: 2.2rem;
}

.h3 {
	font-size: 1.8rem;
}

.p {
	font-size: 1.2rem;
}

.p1 {
	font-size: 1.4rem;
}

.p2 {
	font-size: 1.2rem;
}

.heading-p {
	font-size: 1.4rem;
	color: grey;
}

.content-p-lg {
	font-size: 1.1rem;
}

.content-p-sm {
	color: grey;
}

.portfolio-cover-image,
.content-1-holder,
.quote-holder {
	margin-top: 2rem;
}

.content-2-holder,
.content-4-holder {
	background-color: #f3f3f3;
}

.content-1-holder,
.content-2-holder,
.quote-holder {
	display: flex;
	justify-content: center;
}

.quote-sign {
	color: rgb(253, 182, 49);
	font-size: 2rem;
}

.quote-provider-details {
	display: flex;
}

.quote-holder img {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.quote-provider-details p {
	margin: 0;
	margin-left: 0.5rem;
}

.cta-holder {
	margin-top: 4rem;
	padding: 0;
}

.cta-content {
	height: 25vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.651);
}

.cta-question {
	color: white;
	font-size: 1.6rem;
	width: 40vw;
	font-weight: 900;
}

.button {
	background-color: rgb(253, 182, 49);
	color: white;
	padding: 0.4rem 1rem;
	border: 1px solid rgb(253, 182, 49);
	border-radius: 2rem;
	transition: color 0.8s;
}

.button:hover {
	background-color: rgb(253, 182, 49);
	color: white;
	text-decoration: none;
}

.button:hover {
	background-color: white;
	color: rgb(253, 182, 49);
}

@media only screen and (max-device-width: 576px) {
	.cta-question {
		width: 90vw;
	}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
	.cta-question {
		width: 70vw;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
	.cta-question {
		width: 70vw;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1300px) {
	.cta-question {
		width: 70vw;
	}
}

@media only screen and (min-device-width: 1300px) {
	.h1 {
		font-size: 3rem;
	}

	.p {
		font-size: 1.8rem;
	}
}
