.newsletterForm {
	margin-top: 4rem;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(206, 206, 206, 0.596);
}

@media only screen and (max-device-width: 576px) {
	.newsletterForm {
		min-height: 90vh;
	}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
	.newsletterForm {
		min-height: 70vh;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1300px) {
	.newsletterForm {
		min-height: 60vh;
	}
}

@media only screen and (min-device-width: 1300px) {
	.newsletterForm {
		min-height: 50vh;
	}
}
