@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@500&display=swap');
* {
	font-family: 'Quicksand', sans-serif;
}
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
