.hire-me {
	min-height: 60vh;
	background-color: rgba(206, 206, 206, 0.596);
	display: flex;
	justify-content: center; /* align horizontal */
	flex-direction: column;
	padding: 1rem;
	margin-top: 3rem;
}

.CTA {
	font-size: 1.2rem;
}

.hire-CTA {
	color: rgb(253, 182, 49);
	padding-left: 0.5rem;
}

.hire-CTA:hover {
	color: rgb(253, 182, 49);
}

.hire-me-blog-post {
	color: rgb(253, 182, 49);
	padding: 0rem 0.5rem;
}

.hire-me-blog-post:hover {
	color: rgb(253, 182, 49);
}
