.hire-me {
	margin-top: 3rem;
	background-color: rgba(206, 206, 206, 0.596);
	width: 100%;
	display: block;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.CTA {
	font-size: 1.2rem;
}

.hire-CTA {
	color: rgb(253, 182, 49);
	padding-left: 0.5rem;
}

.hire-CTA:hover,
.hire-me-blog-post:hover {
	color: rgb(253, 182, 49);
}

.hire-me-blog-post {
	color: rgb(253, 182, 49);
	padding: 0rem 0.5rem;
}

@media only screen and (max-device-width: 768px) {
	.hire-me {
		min-height: 70vh;
	}
}

@media only screen and (min-device-width: 992px) {
	.hire-me {
		min-height: 45vh;
		padding-right: 15%;
	}
}

@media only screen and (min-device-width: 1600px) {
	.hire-me {
		min-height: 30vh;
		padding-right: 15%;
	}
}
