.text-holder {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

@media only screen and (max-device-width: 768px) {
	.text-holder {
		margin: 1rem 0rem;
	}
}
