.blog {
	margin-top: 3rem;
}

.link {
	color: rgb(253, 182, 49);
	padding: 0.6rem 1rem;
	border: 1px solid rgb(253, 182, 49);
	border-radius: 2rem;
	transition: color 0.8s;
}

.link:hover {
	background-color: rgb(253, 182, 49);
	color: white;
	text-decoration: none;
}
